{% extends "layout.njk" %}


{% block content %}
    <header>
        <div class="conteudos">
            <a href="/content" id="titulo"><strong>Blog</strong></a>
        </div>
    </header>

<div class="img-perfil">
    <img src={{about.avatar_url}} alt="imagem de {{about.name}}">
</div>
<div class="nome-empresa">
    <h1>{{about.name}}</h1>
</div>
<div class="palavras">
    <div class="texto">
        <p>
        <h3>"Mais do que uma plataforma de educação em tecnologia,<br>
            somos uma comunidade incrível de programadores em busca<br>
            do próximo nível 🚀"</h3>
        </p>
    </div>
    <div class="lista">
        <ul>
            <h3>Principais Tecnologias:</h3>
            <li>{{about.first}}</li>
            <li>{{about.second}}</li>
            <li>{{about.third}}</li>
        </ul>
    </div>
</div>
<div class="rodape">
    {% for link in about.links %}
    <div class="grow">
        <a href="{{link.url}}" target="_blank">
            <i class="{{link.icon}}"></i>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}