{% extends "layout.njk" %}

{% block content %} 
<div class="erro-message">
<h2>Pocurando por fantasmas?</h2>
<br>
<p>Erro 404</p>
</div>
{% endblock %}

{% block footer %}
<div class="img-erro">
    <img src="/erro-404.png">
</div>
{% endblock %}