{% extends "layout.njk" %}

{% block content %}

<div class="text-about">
    <div class="title">
        <h2></h2>
    </div>
    <div class="title">
        <p></p>
    </div>
    <div class="simple-text">
        <p></p>
    </div>
</div>

{% endblock %}