{% extends "layout.njk" %}}

{% block content %}
<div class="container-cards">
    {% for card in cards %}
        <div class="card">
            <div class="img-card">
            <img src="{{card.imgFood}}">
            </div>
            <div class="content-card">
                <div class="food-name">
                    <p>{{card.id}}</p>
                </div>
                <div class="autor-name">
                    <p>{{card.autor}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for card in cards %}
        <div class="card">
            <div class="img-card">
            <img src="{{card.imgFood}}">
            </div>
            <div class="content-card">
                <div class="food-name">
                    <p>{{card.id}}</p>
                </div>
                <div class="autor-name">
                    <p>{{card.autor}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}